# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist
.angular

# IDE
.vscode
.idea
*.sublime-workspace

# Git
.git
.gitignore

# Tests
coverage
*.spec.ts

# Misc
.DS_Store
Thumbs.db
README.md
DEPLOYMENT.md
.editorconfig
