/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$gimcana-primary: mat.define-palette(mat.$indigo-palette);
$gimcana-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$gimcana-warn: mat.define-palette(mat.$red-palette);

$gimcana-theme: mat.define-light-theme((
  color: (
    primary: $gimcana-primary,
    accent: $gimcana-accent,
    warn: $gimcana-warn,
  )
));

@include mat.all-component-themes($gimcana-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

